#navigation-bar {
  border-bottom: 1px solid #838383;
  width: 100%;
}

.topic-list-body {
  .title {
    color: #fff;
    font-family: 'DM Sans';
  }
}

.topic-list .topic-list-data,
.topic-list .num .badge-posts,
.topic-list .num .post-activity,
.topic-list .num .number {
  font-family: 'DM Sans';
}

.topic-list .num .badge-posts {
  color: var(--tertiary)
}

.search-banner {
  background-image: var(--custom-bg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-top: 50px;
  overflow: hidden;
  /* Ensure content stays within the banner */
}

.custom-search-banner-wrap {
  display: none;
  position: relative;
  margin-top: 45px;
  z-index: 2;
  /* Ensure this content is above the blurred background */
  color: #fff;
  /* Keep the text white */

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-attachment: fixed;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 1;
    /* Place the blur behind the text */
    opacity: 0.3;
    /* Adjust opacity to fine-tune the effect */
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.35)
  }

  /* Ensure text content is above the blur */
  * {
    position: relative;
    z-index: 2;
  }
}

.d-header {
  position: fixed;
  backface-visibility: hidden;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  box-shadow: none;
  transition: all .5s ease-in-out;
  height: 100px;

  &.scrolled {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

#main-outlet-wrapper {
  #main-outlet {
    padding-top: 6.5em;
  }
}

.custom-search-banner {
  p {
    font-weight: 400;
    font-family: 'Inter';
    font-size: 20px;
  }
}